<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ioc.datasupport.user.mapper.SysUserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ioc.datasupport.user.domain.SysUserRole">
        <id column="USERROLEID" property="userroleid" />
        <result column="ROLEID" property="roleid" />
        <result column="USERID" property="userid" />
        <result column="ISDELETE" property="isdelete" />
    </resultMap>

</mapper>
